.ShoppingCart {
  max-width: 960px;
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
  padding-bottom: 70px;
  min-height: 15rem;
}

.ShoppingCart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  padding-right: 30px;
}

.ShoppingCart-total {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-items: end;
  padding: 20px;
  font-size: 18px;
}

.ShoppingCart-total b:first-child {
  grid-column: 8;
  padding-right: 15px;
}

.ShoppingCart-total b:last-child {
  grid-column: 9;
  padding-right: 8px;
}